<div data-controller="toggle" class="h-screen bg-gray-900">
  <%= render "shared/top_bar" %>
  <div class="flex h-full">
    <%= render "shared/sidebar"%>
    <main class="text-gray-200">
      <h2>This is the main</h2>
    </main>
  </div>
</div>