<nav class="flex justify-between mb-8">
  <h1>
    <%= link_to "Logo", "#", class: "text-4xl uppercase font-extrabold text-gray-900 hover:italic"%>
  </h1>
  <div class="flex gap-6">
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_url, class: "bg-orange-600 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-orange-800 flex items-center", "data-turbo-method": "delete"
      %>
    <% else %>
    <%= link_to "Login", new_user_session_path, class: "bg-orange-600 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-orange-800 flex items-center"
        %>
    <span>
      <%#= inline_svg_tag("arrow-right-circle", class: "size-6")%>
    </span>
    <%= link_to "Signup", new_user_registration_path, class: "bg-gray-800 p-2 rounded-md capitalize font-bold text-gray-200 hover:bg-gray-600"%>
    <% end %>
  </div>
</nav>