<div data-controller="close" data-close-timeout-value="3000" data-close-hidden-class="hidden" data-close-target="alert" data-action="click->close#hide">
  <% if notice.present? %>
  <p class="bg-green-600 h-8 text-gray-200 font-semibold rounded-md px-4 absolute bottom-6 right-6 items-center justify-center inline-flex"><%= notice %>
    <span class="cursor-pointer">
      <%= inline_svg_tag("close.svg")%>
    </span>
  </p>
  <% elsif alert.present? %>
  <p class="bg-red-600 h-8 text-gray-200 font-semibold rounded-md px-4 absolute bottom-6 right-6 items-center justify-center inline-flex"><%= alert %>
    <span class="cursor-pointer">
      <%= inline_svg_tag("close.svg")%>
    </span>
  </p>
  <% end %>
</div>